/* Gradient color created with: http://colorzilla.com/ */
body {
	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(left,  #606c88 54%, #3f4c6b 92%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #606c88 54%,#3f4c6b 92%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #606c88 54%,#3f4c6b 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 */
	padding-top: 50px;
  transition: all 1s ease;
}

.wiki-large {
	width: 20%;
	height: auto;
	padding-bottom: 30px;
}

.wiki-small {
	width: 100%;
	height: auto;
}

input {
	font-size: 30px; 
	font-family: Dosis;
	border: 1px solid black;
}

.btn {
	margin-bottom: 15px;
	color: #0645AD;
	margin-left: 5px;
	padding: 0px 13px 0px 13px;
	padding-top: 0px;
	padding-bottom: 0px;
	transition: all 0.5s;
}

.banner-text {
	font-size: 40px;
	font-family: Dosis; 
	padding-bottom: 10px;
}

.fade {
	opacity: 1;
	transition: all 0.5s;
}

.fade:hover {
	opacity: 0.5;
}

.searchmatch {
  color: red;
}

.panel-body {
  transition: 1s ease;
  font-family: Dosis;
}

.text-title {
  font-size: 28px;
}

.text-description {
  font-size: 18px;
}

a {
  opacity: 1;
}

a:hover {
  transition: 0.5s ease;
  text-decoration: none;
  opacity: 0.5;
}