/* Gradient color created with: http://colorzilla.com/ */
body {
	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(left,  #606c88 54%, #3f4c6b 92%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #606c88 54%,#3f4c6b 92%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #606c88 54%,#3f4c6b 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 */
	padding-top: 180px;
}